body {
    background-color: black;
    color: white;
}


.yourChoice {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.computerChoice {
    font-size: 18px;
    padding-bottom: 10px;
}

.resultMsg {
    font-size: 18px;
    padding-top: 10px;
}

.player {
    font-size: 18px;
    padding-bottom: 10px;
}

.computer {
    font-size: 18px;
}