body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 40px;
    align-content: center;
    text-align: center;
}

#rock {
    text-align: center;
    align-items: center;
}

.yourChoice {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.computerChoice {
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}

.resultMsg {
    font-size: 18px;
    padding-top: 10px;
    text-align: center;
}

.player {
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}

.computer {
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
}

.winner {
    font-size: 30px;
    text-align: center;
}