body {
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 40px;
    align-content: center;
    text-align: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    }


.btn-container2 {
    display: flex;
    justify-content: center;
    padding: 100px 10px 10px 10px;
    }

button {
    width: 15%;
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 18px;
    margin: 0 10px;
}

.yourChoice {
    font-size: 18px;
    padding-top: 25px;
    text-align: center;
}

.computerChoice {
    font-size: 18px;
    padding-top: 25px;
    text-align: center;
}

.resultMsg {
    font-size: 18px;
    padding-top: 40px;
    text-align: center;
}

.player {
    font-size: 18px;
    padding-top: 25px;
    text-align: center;
}

.computer {
    font-size: 18px;
    padding-top: 25px;
    text-align: center;
}

.winner {
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
}

.refresh {
    font-size: 22px;
    padding-top: 100px;
    text-align: center;
}